.sec-moving {
    animation: sc 60s linear backwards;
}

.flex-card.left {
    animation: left-pop-out 1.0s ease-in;
}

.flex-card.right {
    animation: right-pop-out 1.0s ease-in;
    z-index: 0;
}

.timer:hover {
    box-shadow: none;
    transform: scale(0.98);
}

@keyframes left-pop-out {
    100% {
        transform: translateX(0%) translateY(0%);
    }
    0% {
        transform: translateX(100%) translateY(0);
    }
}

@keyframes right-pop-out {
    100% {
        transform: translateX(0%) translateY(0%);
    }
    0% {
        transform: translateX(-100%) translateY(0);
    }
}

@keyframes sc {
    100% {
        transform: rotateZ(360deg);
    }
    0% {
        transform: rotateZ(0deg);
    }
}

.card-type:hover {
    background: var(--bg-color);
}
.card-type:hover h2 {
    color: #1e1f22;
}

.clock:hover {
    background: var(--bg-color);
}

.clock:hover .sec {
    background: #1e1f22 !important;
}

.btn-annoy {
    animation: curious 1s infinite;
}

@keyframes curious {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width: 1360px) {
    .grid {
        padding: 1rem;
        gap: 1rem;
    }
    /*.cat-container {*/
    /*    gap: 5rem;*/
    /*}*/
    /*.catalog {*/
    /*    width: 6rem;*/
    /*    height: 9rem;*/
    /*}*/
}

@media (max-width: 1300px) {
    .flex-card {
        width: 16.25rem;
    }
    .right {
        width: 15.85rem;
    }
    .theme-card {
        width: 3.775rem !important;
    }
}

.welcome-fade {
    opacity: 0;
}

@keyframes f-out {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}